<div>
    <p>
        <strong>Cross-domain communication rules</strong>
    </p>
    <p>Inter-domain communication rules make it possible to manage communication
        <i>(list / share)</i> between users in different domains or within the same domain.
        <br>When you create a domain through the view
        <a x-ui-sref="domain.detail({domainId: domain})">'Domain configuration'</a> and you choose the option
        <strong>'Automatic creation'</strong> for
        <strong>'Interdomain communication rules'</strong>, a rule will be created automatically by authorizing the domain
                newly created to communicate with him only. All other communications are prohibited by default.
        <br>For a rule to be taken into account, it must be assigned to a domain.</p>
</div>