<div>
    <p>
        <strong>LDAP connections</strong>
    </p>
    <p>{{'COMMON.NAME' | translate}} based on an LDAP directory for its user repository, it is therefore necessary
        to inform him at least one connection.
        <br>{{'COMMON.NAME' | translate}} only read access to the LDAP directory. The possible operations are :</p>
    <ul>
        <li>
            <strong>SEARCH :</strong> search entries</li>
        <li>
            <strong>BIND :</strong> authentication.</li>
    </ul>
</div>