<!-- <p>
    <strong>Gestion des règles de type MIME</strong>
</p>
<p>Cette vue vous permet de paramétrer les filtres par type MIME. Ainsi vous pouvez autoriser ou interdire le dépôt de fichiers
    d’un type donné,
    <i>e.g. interdire le dépôt de fichiers vidéos (MPEG, etc.)</i>.
    <strong>Fonctionnement :</strong>
</p>
<div>
    <ul>
        <li>Sélectionnez un domaine depuis l’« Arbre des domaines », cliquez sur le bouton « Ajouter » et créer votre filtre;</li>
        <li>Cliquez ensuite sur le filtre de votre choix ;</li>
        <li>Pour chaque type MIME, activez-le ou désactivez-le, puis enregistrez en cliquant sur le bouton « Sauvegarder ».</li>
    </ul>
</div> -->
<p>
    <strong>Management of MIME type rules</strong>
</p>
<p>This view allows you to set the filters by MIME type. So you can allow or prohibit the filing of files of a given type,
    <i>e.g. prohibit the filing of video files (MPEG, etc.)</i>
    <strong>Operation :</strong>
</p>
<div>
    <ul>
        <li>Select a domain from the "Domain Tree", click the "Add" button and create your filter;</li>
        <li>Then click on the filter of your choice;</li>
        <li>For each MIME type, enable or disable it, and save by clicking the "Save" button.</li>
    </ul>
</div>