<p>
    <strong>Personalize a greeting for users connected to the 'Anchel' app.</strong>You can create several greetings by domains and associate them with different subdomains.To create a greeting you just need to duplicate an existing greeting to do this:</p>
<ul>
    <li> In the tree of the domains on the left you will find the list of domains: parents
        <i>(read only)</i> and the list of your domains and subdomains
        <i>(in writing)</i>.
        <br>You can duplicate the greeting
        <strong>thanks to the 'duplicate' button</strong> in the list of greetings or by previewing the greeting.
                A window will open following the duplicate request, you will have to enter a name and the domain where you want copy the greeting.</li>
    <li>Thanks to the button
        <strong>'add'</strong>, a window will open asking you to choose a domain to select a model greeting, you will need to choose a new name and a copy will be made in the current domain.</li>
</ul>
<p>Following this creation you will be able to modify the greeting and assign the one to the domains of your choice which will be able to
        benefit, that is to say, during the
    <a x-ui-sref="domain.detail({domainId: domain})">domain configuration</a> you can choose a greeting, the proposed list will be greetings
        assigned to the domain. By default if no greeting is affessed to it, the list will only propose the message
        default homepage.</p>